/* @media (min-width: 576px) and (max-width: 1199.98px) {
} */
.section-card1 {
  margin: 3rem 3rem;
  padding: 3rem 3rem;
  border: 2px solid black;
}
.section-card1 .denemesubheading1 {
  text-decoration: line-through;
}
.section-card2 {
  margin: 3rem 3rem;
  padding: 3rem 3rem;
  border: 2px solid black;
  background-color: darkolivegreen;
  color: aliceblue;
}
.section-card2 .denemeheading2 {
  font-weight: 700;
}
.section-card3 {
  margin: 3rem 3rem;
  padding: 3rem 3rem;
  border: 2px solid black;
  background-color: rgb(105, 77, 153);
  color: aliceblue;
}
