.title-heading {
  font-size: 24px;
  font-weight: bold;
  margin: 50px 0;
  color: rgb(32, 45, 71);
  text-align: center;
}

.demo-box {
  height: 200px;
  background: #f8f9fa;
  border: 1px solid #ddd;
  margin-bottom: 30px;
}
